.topnav_mainbox {
  position: relative;
  margin-left: 320px;
  padding: 2% 1%;
  max-width: 100vw;
  .topnav_box {
    // SIZING
    max-width: 100vw;
    height: 50px;
    // POSITION
    display: flex;
    position: relative;
    padding: 1% 2%;
    // OTHER
    border-radius: 30px;
    // COLORS AND THEME SETTINGS
    @include theme-controller("background-color", "theme-navbackground");
    .topnav_box_left {
      width: 50%;
      .topnav_box_left_addressbox {
        text-align: center;
        width: 250px;
        @include theme-controller("background-color", "theme-topnav-leftbox");
        border-radius: 15px;
        line-height: 3.1rem;
        h4 {
          font-weight: 400;
          color: #000000;
        }
      }
    }
    .topnav_box_right {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      line-height: 3.1rem;
      .themetoggle_button {
        width: 4rem;
      }
      .contactbox_button {
        width: 4rem;
        text-align: center;
        transition: 0.2s ease-in-out;
        line-height: 3.4rem;
        color: gray;
        i {
          font-size: 1.3rem;
        }
        i:hover {
          color: $lightred;
          cursor: pointer;
        }
      }
      .notificationbox_button {
        width: 4rem;
        text-align: center;
        transition: 0.2s ease-in-out;
        margin-right: 1rem;
        line-height: 3.4rem;
        color: gray;
        i {
          font-size: 1.3rem;
        }
        i:hover {
          color: $lightred;
          cursor: pointer;
        }
      }
      .profilebox_button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: $gray 1px solid;
        border-radius: 10px;
        background-color: white;
        height: 3.1rem;
        width: 10rem;
        transition: 0.2s ease-in-out;
        .profilebox_profilepic {
          // SIZING
          width: 1.5rem;
          height: 1.5rem;
          // POSITION
          margin-right: 10px;
          padding: 2px;
          text-align: center;
          // FONTS
          font-size: 1rem;
          line-height: 1.5rem; //must be same as width and heigth
          // OTHER
          border-radius: 50%;
          vertical-align: middle;
          // COLORS AND THEME SETTINGS
          background: #fff;
          border: 1px solid rgb(206, 206, 206);
          color: #666;
          background-color: rgb(246, 185, 70);
        }
      }
      .profilebox_button:hover {
        color: $lightred;
        border: $lightred 1px solid;
      }
    }
  }
}
