// THEME VARIABLES

$themes: (
  light: (
    // GLOBAL
    theme-background: #ffffff,
    theme-primarytext: #000000,
    theme-secondarytext: #666,
    // SIDENAV
    theme-navbackground: #f6f6f6,
    theme-navbutton-active: #ffffff,
    theme-navbutton-inactive: transparent,
    theme-navbutton-activeborder: #c5d86d 1px solid,
    theme-navbutton-inactiveborder: #f6f6f6 1px solid,
    theme-navbutton-border-hover: #c5d86d 1px solid,
    theme-button-hover: #f6f6f6,
    theme-navbutton-text: #000000,
    // TOPNAV
    theme-topnav-leftbox: #c5d86d,
    theme-topnav-leftbox-fontcolor: #ffffff,
  ),
  dark: (
    // GLOBAL
    theme-background: #141414,
    theme-primarytext: #ffffff,
    theme-secondarytext: #ebebeb,
    // SIDENAV
    theme-navbackground: #1d1d1dea,
    theme-navbutton-active: transparent,
    theme-navbutton-inactive: transparent,
    theme-navbutton-activeborder: #fed767 1px solid,
    theme-navbutton-inactiveborder: #1d1d1dea 1px solid,
    theme-navbutton-border-hover: #c899005d 1px solid,
    theme-button-hover: #f6f6f6,
    theme-navbutton-text: #ffffff,
    // TOPNAV
    theme-topnav-leftbox: #fed767,
    theme-topnav-leftbox-fontcolor: #000000,
  ),
);

html[data-theme="light"] {
  $gray: #f6f6f6;
  $darkred: #d7263d;
  $lightred: #ea686a;
  $orange: #f46036;
  $blue: #2e294e;
  $bluegreen: #22c2b1;
  $green: #c5d86d;
  $yellow: #c5d86d;
}

html[data-theme="dark"] {
  $gray: #f6f6f6;
  $darkred: #d7263d;
  $lightred: #ea686a;
  $orange: #f46036;
  $blue: #2e294e;
  $bluegreen: #22c2b1;
  $green: #c5d86d;
  $yellow: #c5d86d;
}
