// VARIABLES

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// COLORS
$gray: #f6f6f6;
$darkred: #d7263d;
$lightred: #ea686a;
$orange: #f46036;
$blue: #2e294e;
$bluegreen: #22c2b1;
$green: #c5d86d;
$yellow: #c5d86d;

// FONTS

$font-family-roboto: "Roboto", sans-serif;
$font-family-opensans: "Open Sans", sans-serif;

// LINKS
a {
  text-decoration: none;
}
