// VARIABLES

// COLORS
$gray: #f6f6f6;
$darkred: #d7263d;
$lightred: #ea686a;
$orange: #f46036;
$blue: #2e294e;
$bluegreen: #22c2b1;
$green: #c5d86d;
$yellow: #c5d86d;

// FONTS

$font-family-roboto: "Roboto", sans-serif;
$font-family-opensans: "Open Sans", sans-serif;

// LINKS
a {
  text-decoration: none;
}
