// VARIABLES

// COLORS
$gray: #F6F6F6;
$darkred: #D7263D;
$lightred: #EA686A;
$orange: #F46036;
$blue: #2E294E;
$bluegreen: #22C2B1;
$green: #C5D86D;
$yellow: #C5D86D;


// LINKS
  a {
      text-decoration: none;
  }