.sidenav_main {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 320px;
  height: 100vh;
  float: left;
  overflow: hidden;
  background-color: #f6f6f6;
  .sidenav_boxes {
    height: inherit;
    width: inherit;
    margin: 5% 10%;
    .sidenav_top {
      height: 10%;
      width: 80%;
    }
    .sidenav_mid {
      height: 50%;
      width: 80%;
      ul {
        list-style-type: none;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .sidenav_button {
          display: block;
          border: none;
          border-radius: 10px;
          background-color: transparent;
          width: 204px;
          height: 40px;
          line-height: 40px;
          padding: 10px 0px 10px 45px;
          margin: 6px 0px;
          text-align: left;
          font-size: 1.1rem;
          overflow: hidden;
          transition: background-color 0.2s ease-in-out;
          font-family: $font-family-roboto;
          text-decoration: none;
          color: rgb(0, 0, 0);
          i {
            margin-right: 10px;
          }
        }
        .active {
          background-color: white;
          border: $green 1px solid;
          width: 202px;
          height: 38px;
          padding: 9px 0px 10px 44px;
        }
      }
    }
    .sidenav_bot {
      height: 35%;
      width: 80%;
    }
  }
}

textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
