.sidenav_main {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 320px;
  height: 100vh;
  float: left;
  overflow: hidden;
  background-color: #f6f6f6;
  .sidenav_boxes {
    height: inherit;
    width: inherit;
    margin: 5% 10%;
    .sidenav_top {
      height: 10%;
      width: 80%;
      border: red 1px solid;
    }
    .sidenav_mid {
      height: 50%;
      width: 80%;
      border: red 1px solid;
      ul {
        list-style-type: none;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .navlink {
          line-height: 55px;
        }
        .sidenav_button {
          border: none;
          border-radius: 10px;
          background-color: transparent;
          width: 80%;
          height: 55px;
          padding: 10px 0px 10px 45px;
          margin: 4px 0px;
          text-align: left;
          font-size: 1rem;
          overflow: hidden;
          transition: background-color 0.1s ease-in-out;
          font-family: $font-family-roboto;
          text-decoration: none;
          color: rgb(0, 0, 0);
          i {
            margin-right: 10px;
          }
        }
        .active {
          background-color: red;
          border: $green 1px solid;
        }
      }
    }
    .sidenav_bot {
      height: 35%;
      width: 80%;
      border: red 1px solid;
    }
  }
}
