.sidenav_main {
  // SIZING
  width: 320px;
  height: 100vh;
  // POSITION
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  float: left;
  // FONTS
  // OTHER
  overflow: hidden;
  // COLORS AND THEME SETTINGS
  @include theme-controller("background-color", "theme-navbackground");
  .sidenav_boxes {
    height: inherit;
    width: inherit;
    margin: 2% 10%;
    .sidenav_top {
      height: 7%;
      width: 80%;
    }
    .sidenav_mid {
      height: 50%;
      width: 80%;
      ul {
        list-style-type: none;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .sidenav_button {
          // SIZING
          width: 204px;
          height: 35px;
          // POSITION
          display: block;
          padding: 10px 0px 10px 45px;
          margin: 6px 0px;
          // FONT
          text-align: left;
          font-size: 1.1rem;
          font-family: $font-family-roboto;
          text-decoration: none;
          line-height: 35px;
          // OTHER
          border-radius: 10px;
          overflow: hidden;
          transition: 0.2s ease-in-out;
          // COLORS AND THEME SETTINGS
          @include theme-controller(
            "background-color",
            "theme-navbutton-inactive"
          );
          @include theme-controller("border", "theme-navbutton-inactiveborder");
          @include theme-controller("color", "theme-navbutton-text");
          i {
            margin-right: 10px;
          }
        }
        .sidenav_button:hover {
          transition: 0.2s ease-in-out;
          @include theme-controller("border", "theme-navbutton-border-hover");
        }
        .active {
          @include theme-controller(
            "background-color",
            "theme-navbutton-active"
          );
          @include theme-controller("border", "theme-navbutton-activeborder");
          i {
            @include theme-controller("color", "theme-navbutton-activeicon");
          }
        }
        .active:hover {
          @include theme-controller("border", "theme-navbutton-activeborder");
        }
      }
    }
    .sidenav_bot {
      // SIZING
      height: 38%;
      width: 80%;
      // POSITION
      display: block;
      text-align: center;
      position: relative;
      img {
        height: 260px;
        margin-bottom: 70px;
      }
      @media (max-width: 1600px) {
        img {
          height: 180px;
          margin-bottom: 0px;
        }
      }
      @media (max-width: 1000px) {
        img {
          height: 140px;
          margin-top: 30px;
          margin-bottom: 0px;
        }
      }
      button {
        // SIZING
        width: 200px;
        height: 40px;
        // POSITION
        margin: 5px 0px 10px;
        // FONTS
        font-size: 1rem;
        // OTHER
        border-radius: 15px;
        transition: 0.2s ease-in-out;
        // COLORS AND THEME SETTINGS
        border: $gray 1px solid;
        @include theme-controller("color", "theme-primarytext");
        @include theme-controller(
          "background-color",
          "theme-navbutton-inactive"
        );
      }
      button:hover {
        @include theme-controller("border", "theme-navbutton-border-hover");
      }
      h6 {
        font-weight: 300;
        margin-top: 5px;
      }
    }
  }
}

// SIZING
// POSITION
// FONTS
// OTHER
// COLORS AND THEME SETTINGS
